<% if @users %>
  <div id = "searchresult">
    <% @users.each do |result| %>
      <div class="row">
        <div id="result" class="col-sm-3 card">
          <%= image_tag result.avatar.url(:thumb), :size => "20x18" %>&nbsp;
          <%= link_to result.name, userlist_path(result.id)%>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div>
    No results found
  </div>
<% end%>