<h3 align="center">Sign Up</h3>
<div class="container" id="sign-up-form">
  <div class="row">
    <!-- <h5 align="center"> Get in touch to people around world!</h5> -->
    <div class="col-sm-6  col-sm-offset-3">
      <h3 "style=color:'white'">Sign up <small>it's free!</small></h3> 
<%= bootstrap_form_for(resource, 
                       :as => resource_name, 
                       :url => registration_path(resource_name)) do |f| %>
  <%= f.file_field :avatar %>
  <%= f.text_field :name, 
             placeholder: 'username (will be shown publicly)', 
             class: 'form-control' %>
  <%= f.text_field :email, 
             placeholder: 'email', 
             class: 'form-control' %>
  <%= f.password_field :password, 
                       placeholder: 'password', 
                       class: 'form-control' %>
  <%= f.password_field :password_confirmation, 
                       placeholder: 'password confirmation', 
                       class: 'form-control' %>
  <div id= "buttons"><%= f.submit 'Sign up', class: 'btn btn-primary sign-up-button' %><%= render "devise/shared/links" %></div>
<% end %>
    </div>
  </div>
</div>
