<div class="container" id="log-in-form">
  <div class="row">
    <div class="col-sm-5 col-sm-offset-3">
			<h2>Resend unlock instructions</h2>
			<%= bootstrap_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  			<%= render "devise/shared/error_messages", resource: resource %>

  				<div class="field">
    				<%= f.label :email %><br />
    				<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  				</div>

  				<div class="actions">
    				<%= f.submit "Resend unlock instructions" %>
  				</div>
			<% end %>
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>