<center><H1 id= "all-noti"> All Notifications <H1></center>
<%= paginate @notifications %>
<% @notifications.each do |notification| %>
  <% if notification.read_at %>
    <div class="col-sm-12 read-notification">
      <%= image_tag notification.actor.avatar.url(:thumb), :class=> "img-circular", :size => "10*10" %>
      <%= link_to notification.actor.name, post_path(notification.second_target_id,
        notification_id: notification.id)%> has commented on
          <%= link_to notification.second_target.title %>
    </div>
  <% else %>
    <div class="col-sm-12 unread-notification">
      <%= image_tag notification.actor.avatar.url(:thumb), :class=> "img-circular", :size => "10*10" %>
      <%= link_to notification.actor.name, post_path(notification.second_target_id,
        notification_id: notification.id)%> has commented on
          <%= link_to notification.second_target.title %>
    </div>
  <% end %>
<% end %>