<div class="container">
  <div class="row" id = "postform">
    <div class="col-sm-5 col-sm-offset-3">
      <h1 id="post" class="text-center"><b>Create New Post</b></h1>
      <%= bootstrap_form_for(@post) do |f| %>
        <%= f.text_field :title, maxlenght: 150, placeholder: 'Title', class: 'form-controls' %>
        <%= f.file_field :postphotos %>
        <%= f.text_area :content, rows: 6 %>
        <%= f.collection_select :category_id, Category.all, :id, :name, class: 'form-controls'%> 
        <%= f.submit "Create", id: 'postbutton', class: 'form-controls btn btn-primary', remote: true %>
        <%= link_to "Create Category" , new_category_path, class: 'btn btn-primary'%>
      <% end %>
    </div>
  </div> 
</div>