<body>
  <%= render 'postcreate' %>
  <div class="row", id= "user">
    <% @users.each do |user| %>
      <% if current_user.blocked_friend_ids.exclude?(user.id) %>	 
        <div class="col-sm-3">
          <div class="card">
            <%= image_tag user.avatar.url(:medium), :size => "380x240" %>
            <div class="card-body">
              <h3 class="card text"><%=user.name %></h3>
              <p class="card-text"><%=user.email %></p>
              <%= link_to "See Profile", userlist_path(user.id)%>
              <% if current_user.friends_with?(user) %>
                <%= link_to "Unfriend", unfriend_path(user_id: user.id), method: :delete%>
              <% elsif current_user.pending_friend_ids.include?(user.id) %>
                <%= link_to "Request Sent" %>
              <% else %>
                <%= link_to "Send Request", friend_request_path(user_id: user.id), method: :post%>
              <% end%> 
            </div>
          </div>
        </div>
      <%end%>
    <%end %>
  </div> 
  
  <% @posts.each do |post| %>
    <div class= "posts">
      <div id= "ajax-posts", class="col-sm-4 col-sm-offset-4">
        <p><%= image_tag post.user.avatar.url(:medium), :class=> "img-circular" %>
          &nbsp;<strong id = "posted_by"><%= link_to post.user.name,userlist_path(post.user.id)%></br><%= time_ago_in_words(post.created_at) %> ago</strong>
          <%= link_to(image_tag("delete.png", class: 'image-responsive',:size => "35x35"), post_path(post.id),  method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "delete_post") %>
        </p>

        <div class="card">
          <div class="card-body">
            <h3 class="card text"><%=post.title %></h3>
              <strong >
                <%= post.likes.count %>
                <% liked = post.likes.find { |like| like.user_id == current_user.id} %>
             
                <% if liked %>
                  <%= link_to "Unlike", post_like_path(liked.post_id, liked.id), method: :delete %>
                <% else %>
                  <%= link_to  (post.likes.count)<= 1 ? "Like": "Likes", post_likes_path(post.id), method: :post %>
              <% end %>
              </strong>

              <% if post.postphotos.present? %>
                <%= image_tag post.postphotos.url(:medium), :size => "300x200" %>
              <% end %>
              <p class="card-text"><%=post.content %></p>
              <b>Comments:</b><br>
              <%= render partial: 'layouts/comment', locals: {comments: post.comments.last(5), post: post}%>
              <%= form_with scope: :comment, url: post_comments_path(post.id),:id => 'reset-form',:remote => true, method: :post do |f|%>
                <%= f.text_field :body %>
                <%= f.submit %>
              <% end %>
            </div>
          </div>
        </br></br>
     </div>
    </div> 
  <%end%>
</body>
