<div class="row">
	<div class="col-sm-2", id = "profile_image">
		<%= image_tag @user.avatar.url(:medium), :size => "300x200" %>
		<p class="card text", id = "profile_info"><%=@user.name %><br/>
			<%=@user.email %>
			<% if @user.id != current_user.id %>
				<%= link_to "Block Friend", block_friend_path(user_id: @user.id), method: :put %>
			<% end %>
		</p>
	</div>
	<%= render 'postcreate'%>
</div>

<div class= "row">
	<div class="col-sm-6 col-sm-offset-3">
		<% @posts.each do |post| %> 
	  	<div class= "posts">
	    	<div class="col-sm-5 col-sm-offset-3">
	      	<p><%= image_tag post.user.avatar.url(:medium), :class=> "img-circular" %>
	        &nbsp;<strong id = "posted_by"><%= link_to post.user.name,userlist_path(post.user.id)%></br><%= time_ago_in_words(post.created_at) %> ago
	        </strong>
	      	</p>
	      	<div class="card">
	        	<div class="card-body">
	          	<h3 class="card text"><%=post.title %></h3>
	            <%= post.likes.count %>
	            <% liked = post.likes.find { |like| like.user_id == current_user.id} %>

	         		<% if liked %>
	              <%= link_to "Unlike", post_like_path(liked.post_id, liked.id), method: :delete %>
	            <% else %>
	              <%= link_to  (post.likes.count)<= 1 ? "Like": "Likes", post_likes_path(post.id), method: :post %>
	            <% end %>

	            <% if post.postphotos.present? %>
	              <%= image_tag post.postphotos.url(:medium), :size => "300x200" %>
	            <% end %>
	            <p class="card-text"><%=post.content %></p>
	              
	            <b>Comments:</b>
	            <%= render partial: 'layouts/comment', locals: {comments: post.comments.last(5), post: post}%>
	           	<%= form_with scope: :comment, url: post_comments_path(post.id),:id => 'reset-form',:remote => true, method: :post do |f|%>
	           		<%= f.text_field :body %>
	           		<%= f.submit %>
	           	<% end %>
	          </div>
	        </div>
	      </div>
	    </div>
	  <%end%>
	</div>
</div>