<div class="row">
	<% @posts.each do |post| %>	
  		<div class="col-sm-3">
 			<div class="card">
					<div class="card-body">
		 				<h3 class="card text"><%=post.title %></h3>
		 				<p class="card-text"><%=post.content %></p>
		 				<p class="card-text">Post By=<%=post.user.name%></p>
					</div>
 			</div>
 		</div>
	<% end %>
</div> 

