 <div class="container">
  <div class="row">
    <div class="col-sm-5 col-sm-offset-3">
      <h2 class="text-center">Create New Post</h2>
      <%= bootstrap_form_for(@post) do |f| %>
        <%= f.text_field :title, maxlenght: 150, placeholder: 'Title', class: 'form-controls',required: true %>
        <%= f.file_field :postphotos %>
        <%= f.text_area :content, rows: 6, required: true %>
        <%= f.collection_select :category_id, Category.all, :id, :name, class: 'form-controls', required: true %> 
        <%= f.submit "Create", class: 'form-controls btn btn-primary' %>
        <%= link_to "Create Category" , new_category_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div> 
</div>