
<div class= "posts">
  <div class="col-sm-4 col-sm-offset-4">
    <p><%= image_tag @post.user.avatar.url(:medium), :class=> "img-circular" %>
      &nbsp;
      <strong id = "posted_by"><%= @post.user.name%></br><%= time_ago_in_words(@post.created_at) %> ago</strong>
    </p>
    <div class="card">
      <div class="card-body">
        <h3 class="card text"><%=@post.title %></h3>
          <strong >
            <%= @post.likes.count %>
            <% liked = @post.likes.find { |like| like.user_id == current_user.id} %>
            <% if liked %>
              <%= link_to "Unlike", post_like_path(liked.post_id, liked.id), method: :delete %>
            <% else %>
              <%= link_to  (@post.likes.count)<= 1 ? "Like": "Likes", post_likes_path(@post.id), method: :post %>
            <% end %>
          </strong>

            <% if @post.postphotos.present? %>
              <%= image_tag @post.postphotos.url(:medium), :size => "300x200" %>
            <% end %>
            <p class="card-text"><%=@post.content %></p>
            <b>Comments:</b>
            <% @post.comments.each do |comment|%>
              <p class="card-text">
                <%= image_tag comment.user.avatar.url(:medium), :size => "20x18" %>&nbsp;&nbsp;<%= comment.body%>
                <strong> <%= time_ago_in_words(comment.created_at) %> ago </strong>
                <%= link_to(image_tag("garbage.png", class: 'image-responsive',:size => "20x20"),
                  post_comment_path(@post.id,comment.id),  method: :delete, data: { confirm: 'Are you sure?' },remote: true, class: "delete_comment") %>
              </p>
            <%end%>
            
            <%= form_with scope: :comment, url: post_comments_path(@post.id), method: :post do |f|%>
              <%= f.text_field :body %> <%= f.submit %>
            <% end %>
      </div>
    </div>
  </div>
</div>
