/*
 * This is a manifest file that’ll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin’s
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You’re free to add application-wide styles to this file and they’ll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require toastr_rails
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "style.scss";
body
{ 
	background-color: #e8e6e2;
	height: 100%;
 	/*background-image: url(smoke.jpeg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}
