#login-nav{
	display: inline;
}

#nav-fixed{
	position: fixed;
	width: 101%;
	z-index:2;
  top: 0em;
  height: 7rem;
}
#user{
	 margin: 7em 1em 0em 1em;
   flex-wrap: nowrap;
   overflow-x: scroll;
}
#postform{
  margin: 7em 1em 0em 1em;
   flex-wrap: nowrap;
   overflow-x: scroll;
}
#dropdown-style{
	position: absolute
}
table{
  position: absolute;
    top: 9em;
}

::-webkit-scrollbar {
  height: 4px;             
  width: 4px;          
}
#log-in-form{
  padding: 25px;
  margin: 6px 118px;
}
.posts{
  margin: 7em 1em 0em 1em;
  flex-wrap: nowrap;
}
.form-check-input{
  margin: 2px 0px 0px -12px !important;

}
.image-responsive{
  float: right;
}
#post {
    color: aliceblue;
}
.img-circular{
 width: 60px;
 height: 60px;
 border-radius: 2em;
 }

 #posted_by{
  position: absolute;
  top: 1.5em;
 }

 #profile_image{
  top: 9rem;
  margin-left: 3rem;
 }
 #profile_info{
  width: 30rem;
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.5rem;
 }
 #flash_msg{
  top: 7rem;
 }
 #notification .badge{
  position: absolute;
  top:  -7px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white; 
  font-size: 11px;
 }
 #frienddiv{
 width: 35rem;
 height: 7rem;
 padding: 0.5rem;
}

#friendbutton{
  top: 1.5rem;
}
#friendbutton.link_to{
  color: #FFFF;
}
.profile_image{
  height: 5rem;
  width: 5rem;
  border-radius: 3rem;
  padding-bottom: 0.5rem;
}

#nav-toggle{
height: 5rem;
background-color: slategrey;
}
.navbar-brand{
  font-size: 3rem;
  font-style: oblique;
  color: floralwhite;
}
.read-notification, .unread-notification{
  cursor: pointer;
}

.read-notification:hover, .unread-notification:hover{
  cursor: pointer;
  background: #8abfd6;
}

.unread-notification {
  background: #d3effb;
}
.read-notification{
  background: #f5e6e6;
}
#notification_dropdown{
  position: absolute;
  overflow-y: scroll;
  /*height: 43.5rem;*/
}
/*#all-notification{
  margin-top: 16rem;
}*/
#all-noti{
  margin-top: 10rem;
}
.pagination{
  color: #1f619a;
  margin-left: 78rem;
}
.pagination .active a {
  background: #b7b5b5;
  border: 1px solid;
  border-color: #b7b5b5;
}
#searchresult{
  margin-top: 14rem
}
#result{
  margin-left: 56rem
}
#view-previous{
  top: 7rem;
  position: absolute;
  left: 25rem;
  font-size: 1.5rem;
  font-style: oblique;
  background-color: white
}