 <div class="container">
  <div class="row">
    <div class="col-sm-5 col-sm-offset-3">
      <h2 class="text-center">Create New Category</h2>
      <%= bootstrap_form_for(@category) do |f| %>
        <%= f.text_field :name, class: 'form-control', required: true %>
        <%= f.submit "Create", class: 'form-controls'%>
      <% end %>
    </div>
  </div> 
</div>r