<div id = "create-comment-<%= post.id %>">
	<% comments.each_with_index do |comment, i|%>
		<p class="card-text">
			<%= image_tag comment.user.avatar.url(:medium), :size => "20x18" %>&nbsp;&nbsp;<%= comment.body%>
			<strong> <%= time_ago_in_words(comment.created_at) %> ago </strong>
			<%= link_to(image_tag("garbage.png", class: 'image-responsive',:size => "20x20"), post_comment_path(comment.post_id, comment.id),  method: :delete, data: { confirm: 'Are you sure?'},remote: true, class: "delete_comment") %>
		</p>
		<% @offset = i+6%>
	<% end %>
	<% total_count = post.comments.count%>
	<% if total_count > 5	&& total_count != @offset-5%>
		<%= link_to 'View Previous', view_previous_comments_path(post_id: post.id, offset: @offset),remote: true, id: "view-previous" %>
	<%end%>
	<% if post.comments.blank? %>
		<i>Be the first one to comment</i>
	<%end%>
</div>