<!DOCTYPE html>
<html>
  <head>
    <title>FriendBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar'%>
    <%= render 'toastr_rails/flash' %>

  <!--<% flash.each do |key, value| %>
    <div class="toast " data-autohide="false" style="position: fixed; top: 7rem; right: 1rem;">
    <div class="toast-header">
      <strong class="mr-auto text-primary">Notification</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <div class="toast-body">
      <%= value %>
    </div>
  </div>
<% end %>-->
    
  <%= yield %>
  </body>
</html>
